/* Global styles */

html {
    --sans-serif: 'Lato', Arial, Helvetica, sans-serif;
    --monospace: 'Inconsolata', 'Courier New', Courier, monospace;

    --short-transtition: all 0.3s ease;
    --long-transtition: all 0.5s ease;
}

body {
    --main-bg: #FFF;
    --post-bg: #F7F7F7;
    --transparent-bg: rgba(255, 255, 255, 80%);
    --transparent-accent: rgba(197, 155, 227, 90%);
    --gradient: linear-gradient(90deg, #5e4d9c 0%, #e08c7d 100%);
    --main-text: #444;
    --accent1: #c59be3;
    --accent2: #5e4d9c; 
    --neutral: #ccc;

    transition: var(--long-transtition);
    background: var(--main-bg);
}

body.dark {
    -webkit-font-smoothing: antialiased;

    --main-bg: #000;
    --post-bg: #1a1a1a;
    --transparent-bg: rgba(0, 0, 0, 75%);
    --transparent-accent: rgba(94, 77, 156, 90%);
    --gradient: linear-gradient(90deg, #0e2a4f 0%, #5e4d9c 100%);
    --main-text: #ddd;
    --accent1: #5e4d9c;
    --accent2: #c59be3;
    --neutral: #333;

    transition: var(--long-transtition);
    background: var(--main-bg);
}

body, p {
    color: var(--main-text);
	font-family: var(--sans-serif);
    font-size: 1.0rem;
    font-weight: lighter;
    line-height: 1.5rem;
}

h1, h2, h3 {
    color: var(--main-text);
    font-family: var(--monospace);
    font-weight: normal;
}

h1 { font-size: 1.6rem; }

h2 { font-size: 1.4rem; }

h3 { font-size: 1.2rem; }

nav h1 {
    font-size: 1.4rem;
}

hr {
    background: var(--neutral);
    height: 1px;
    border: none;
}

a {
    text-decoration: none;
	color: var(--darkgrey);
    border-bottom: 0.1rem solid var(--accent1);
    transition: var(--short-transtition);
}

a:hover {
    background: var(--accent1);
    transition: var(--short-transtition);
}

em, strong {
    color: var(--main-text);
}

strong {
    font-weight: normal;
}

mark {
    background: var(--accent1);
}

::selection, ::-moz-selection {
    background: var(--accent1);
}

blockquote {
    margin: 0rem;
    background: var(--main-bg);
    display: block;
    padding: 0.1rem 1rem;
    font-style: italic;
}

code {
    background: var(--main-bg);
    display: block;
    padding: 1rem;
    font-family: var(--monospace);
    font-size: 0.7rem;
    line-height: 1.2rem;
    font-weight: normal;
    white-space: pre-wrap;
}

@media only screen and (min-width: 640px) {
    blockquote, code {
        margin: 0rem 1rem;
    }
} 

/* Footnotes formatting */

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

sub { 
    top: 0.4em; 
}

.footnotes,
p.footnote-paragraph,
li.footnote-list-item {
    font-size: 0.8rem;
}

.footnotes hr {
    display: none;
}

a.footnote-ref, a.footnote-backref {
    color: var(--accent2);
    border: none;
    font-weight: normal;
}

a.footnote-ref:hover, a.footnote-backref:hover {
    color: var(--main-text);
}

/* Annotations */

a.annotation {
    color: var(--accent2);
    background-color: transparent;
    border: none;
    font-weight: normal;
}

a.annotation:hover {
    color: var(--accent1);
}

a.annotation {
    color: var(--accent2);
    background-color: transparent;
    border: none;
    -webkit-transition: var(--long-transtition);
    -moz-transition: var(--long-transtition);
    -o-transition: var(--long-transtition);
    transition: var(--long-transtition);
}

a.annotation:hover {
    color: var(--accent1);
}
 
a.annotation span {
    z-index: -1;
    opacity: 0;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    margin-left: 1rem;
    padding: 1rem;
    max-width: 30rem;
    color: var(--main-text);
    font-family: var(--monospace);
    font-size: 0.9rem;
    line-height: 1.0rem;
    background-color: var(--transparent-accent);
    -webkit-transition: var(--long-transtition);
    -moz-transition: var(--long-transtition);
    -o-transition: var(--long-transtition);
    transition: var(--long-transtition);
}

a.annotation:hover span {
    z-index: 2;
    opacity: 1;
    -webkit-transition: var(--long-transtition);
    -moz-transition: var(--long-transtition);
    -o-transition: var(--long-transtition);
    transition: var(--long-transtition);
}

/* Table */
table, th, td {
    background: var(--main-bg);
    padding: 0.5rem 0.2rem 0.5rem 0.2rem;
    vertical-align: top;
    text-align: left;
    font-size: 0.9rem;
    line-height: 1.2rem;
}

th {
    font-family: var(--monospace);
    border-bottom: 1px solid var(--accent1);
}

/* Class styles */

.detail {
    font-size: 1.0rem;
    font-family: var(--monospace);
    line-height: 1.0rem;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    color: var(--accent1);
}

.wrapper {
    /* display: flex; */
    justify-content: center;
    padding: 0rem;
}

.main {
    padding: 0rem;
    text-align: left;
}

@media only screen and (min-width: 640px) {
    .main {
        padding: 1rem;
        max-width: 48rem;
    }
}

.content {
    padding: 1rem;
    background: var(--post-bg);
}
